.mat-raised-button {
  width: 17%;
  height: 15%;
}
.stop {
  text-align: center;
  position: relative;
  left: 300px;
  top: 150px;
  background-color: red;
  color: white;
  font-size: 1.5rem;
}

.good {
  background-color: green;
}

.meh {
  background-color: red;
}
