<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openMenu()">Settings</button>
</mat-menu>

<div class="container">
  <button mat-raised-button (click)="playAudio()">Sound 1</button>
  <button mat-raised-button (click)="playAudio2()">Sound 2</button>
  <button mat-raised-button (click)="playAudio3()">Sound 3</button>
  <button mat-raised-button (click)="playAudio4()">Sound 4</button>
  <button mat-raised-button (click)="playAudio5()">Sound 5</button>
  <br />
  <button mat-raised-button (click)="playAudio6()">Sound 6</button>
  <button mat-raised-button (click)="playAudio7()">Sound 7</button>
  <button mat-raised-button (click)="playAudio8()">Sound 8</button>
  <button mat-raised-button (click)="playAudio9()">Sound 9</button>
  <button mat-raised-button (click)="playAudio10()">Sound 10</button>

</div>